.testimonial-slider {
    padding: 4rem 0;

    .splide {
        max-width: 800px;
        margin: 0 auto;
    }

    &__item {
        text-align: center;
        padding: 2rem;
    }

    &__quote {
        font-size: var(--font-size-big);
        line-height: 1.6;
        margin-bottom: 4rem;
        font-style: italic;
        max-width: 39rem;
        margin-inline: auto;

        &::before {
            content: '\f10d';
            font-family: var(--ff-fontawesome);
            font-weight: 600;
            font-size: 2rem;
            line-height: 0;
            display: block;
            margin-bottom: 1rem;
            color: var(--theme);
        }
    }

    &__author {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: var(--fw-700);
        color: var(--primary);
        margin-bottom: 3rem;
    }

    // Splide custom styles
    // .splide__arrow {
    //     background: var(--theme-contrast);
    //     opacity: 1;

    //     svg {
    //         fill: white;
    //     }

    //     &:hover {
    //         background: transparent;
    //         svg {
    //             fill: var(--theme-contrast);
    //         }
    //     }
    // }

    .splide__pagination__page {
        background: var(--theme-contrast);

        &.is-active {
            background: var(--theme);
        }
    }
}
