header {
    background-color: white;
    transition: var(--transition);

    .navbar {
        transition: var(--transition);
    }

    .mobile-contact li:first-child a.nav-link {
        font-weight: 300;
        border-right: 1px solid rgba(0, 0, 0, 0.08);
    }
    .mobile-contact li:last-child a.nav-link {
        font-weight: 300;
    }

    a.nav-link {
        color: var(--theme);
        font-size: var(--fs-400);
        font-weight: var(--fw-700);
        transition: var(--transition);
        padding: 1rem;
        border-top: 1px solid rgba(0, 0, 0, 0.08);

        @media (min-width: 992px) {
            border-top: none;
            font-size: var(--fs-300);
            padding: 2rem 1rem !important;
            &:hover {
                color: var(--theme-alt);
                background-color: var(--background-light);
            }
        }
    }

    .logo-container {
        // max-width: 180px;
        margin-right: 1rem;
        width: min(200px, 60vw);
        @media (min-width: 992px) {
            width: min(300px, 60vw);
        }
    }

    .logo {
        background-image: url(../img/silverline-coaches-logo-500px-final.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        height: 70px;
        width: 100%;
        background-position: left;
    }

    &.hide {
        transform: translateY(-100%);
    }

    .current_page_item > .nav-link,
    .current_page_parent > .nav-link,
    .dropdown.current-page-ancestor > .nav-link,
    .dropdown.current-menu-item > .nav-link {
        color: var(--theme-alt);
    }

    .contact-info {
        box-shadow: 0 0 0 1px var(--border-dark);
        a {
            font-size: var(--fs-300);
            text-decoration: none;
            color: var(--col-dark);
            font-weight: var(--fw-700);
        }
    }

    .order-2 {
        flex: 1;
    }
}
